.navbar {
    background: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 90px;
    line-height: 90px;
}

.navbar-custom,
.navbar-custom .navbar-text {
    color: #777777;
    
}

.navbar-custom .navbar-nav .nav-link {
  color:#777777;
  text-align: right;
  border-right-style: solid;
}

.navbar-brand{
  background: #4aaaa5;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.my-container{
  border:1px solid red;
  
}

.my-row{
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}
}

.my-col{
 
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}
}

.my-content
{
  
}







/*


Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd




Fonts:


For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.










.navbarbrand{
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;


  .navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color 

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color 
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links 

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
}*/