/*NOTES ON ASSIGNEMENT @ BOTTOM */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 
  background: url("images/background.png");
}


.d6{
background: white;
}

main{
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  border: #777777, 1px, solid;
  

}

h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  font-size: 2.5em;
  padding-top: .5em;
}

h2,
h3 {
   font-size: 22px;
  color: #777777;
}

.nav1{
  padding-right: 20%;
  font-size: 1.25em;
  
  
}

.brand1{
  padding-left: 10%;
  margin-bottom: 1.25em;
  }

  .border-left {
    border-left: 1px solid #dee2e6!important;
    margin-left: 1em;
    
}









/*ALL MY NOTES I HAVE MADE ON THE PROFILE SOLUTION*/
/*I should have gone in the order or the prompt. Or, I should have started with the smallest details, i.e. the font and then moved down to background last*/
/*The border-box element makes it so that padding is included in whatever max width I tell the box to be.*/
/*The asterisk before the bracket applies to everthing within the page. Kind of like a master command.*/
/*The "0" applies to the width of the margin and the "auto" is the auto height of the page. Or kind of similiar to "max-height" albeit unlimited*/
/*"Clear both" is telling my page that this container and everything inside it CANNOT float. Basically the eniterity of the page won't float where other object might if not specified.*/
/*This is going to tell my headers and paragraph, i.e. text that is has to be 20px away from the end of the container.*/
/*The the "margin-bottom rule" will ONLY APPLY to what is before the bracket. These are set rules for all.*/
/*This is telling me that the last "p" or paragraph/text will be different. I.e., font color, size, etc... In this case it is going to the bottom of the container. It will have no padding other than what is stated in the container element.*/
/*I can apply several astethic commands to one command rather than each individually.*/
/*This ONLY APPLIES TO MY HEADER DUE TO THE "ID" PROPERTY!!!!*/
/*The "z-index" only works with "position" It tells me the stack order of my header in this case.*/
/*The 30px will only apply to the bottom. The first two values are for the top and the right/left-margin.*/
/*The overflow will create a scrollbar automatically. I used "overflow:hidden" in my inital project. As well as placing it incorrectly*/
/*This is pushing my text down from the top*/
/*this will only change what is has an "a" in it. I.e., It is changing the way my links look since there is an "a" in "a href"*/
 /*This will display my images horizontally, not vertically. If I wanted them vertical, I would use just "display-block"*/
/*The first navigation link will have no border*/
/*This is the all encompassing*/
/*This is a little arithmatic that tells the container that creates a 70px (or 35px on each side) from edge of webpage*/
/*This is the class of mainsection*/
/*The Portfolio Page*/
/*This applies to my image pic*/
/*Contact Page. The page I initially did not finish.*/
/*This is an unordered list*/
/*Label is what prompts the user to write or click their input. Think if you're checking off a box do you click, "male" or "female"?*/
/*This is where the user inputs their information. the "type=x" designates what is to be entered. */
/*THIS IS WHERE A MESSAGE IS WRITTEN..."text area"*/

 
